{{ define "main" }}
    <section>

        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <div class="pt-8 md:pt-20 flex flex-col items-center">
                <h1 class="mt-4 leading-relaxed text-6xl font-bold text-gray-900">La Team</h1>
                <p class="text-center">Ils sont beaux, ils sont jeunes et ils ont tous contribués à votre semaine.</p>
            </div>

            <div class="grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 gap-8 mt-16">

                {{ range $.Site.Data.team }}
                    <div class="flex text-center select-none flex-col items-center font-semibold">

                        {{ $path := path.Join "/img/team" (.name | urlize) }}

                        <picture>
                            <source srcset="{{ $path }}.webp" type="image/webp">
                            <source srcset="{{ $path }}.jpg" type="image/jpeg">
                            <img src="{{ $path }}.jpg" class="w-28 rounded-full mb-4" alt="Photo de {{ .name }}">
                        </picture>

                        <span>{{ .name }}</span>
                        <span class="text-blue-800">{{ .role }}</span>
                    </div>
                {{ end }}

            </div>
            <div class="pt-8 md:pt-20 flex flex-col items-center">

                <h1 class="mt-4 leading-relaxed text-2xl font-bold text-gray-900">Remerciement</h1>
                <p>
                    Le logo du Comité d'Intégration 2k21 a été conçu par le pole création et par <span
                            class="username">Karim</span>.
                    Le site web a été codé par <span class="username">Corentin Poupry</span>.
                    <br>
                    Merci à tous ceux qui ont aidé d'une manière ou d'une autre à l'organisation, la mise en place et au
                    bon
                    déroulement de cette semaine.
                </p>
            </div>
        </div>

    </section>
{{ end }}