{{ define "main" }}
    <main>
        <div class="pt-8 md:pt-20 flex flex-col items-center">
            <h1 class="mt-4 leading-relaxed text-6xl font-bold text-gray-900">{{ .Name }}</h1>
            <p class="text-center">{{ .RawContent }}</p>
        </div>

        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 mt-16">
            <ul>
                {{ range .Pages }}
                    <li class="mt-4">
                        <a class="hover:underline" href="{{ .Permalink }}">
                            <h3 class="text-xl text-blue-800 font-semibold">{{ .Title }}</h3>
                        </a>
                        <p class="text-gray-600">{{ .Description }}</p>
                    </li>
                {{ end }}
            </ul>
        </div>
    </main>
{{ end }}