@tailwind base;
@tailwind components;
@tailwind utilities;

nav .active {
    @apply bg-gray-900 text-white !important
}

#search {
    background: url("/img/search.svg") 12px center no-repeat;
    background-size: 17px;
    padding-inline-start: 38px;
}

.prose img {
    margin: auto;
}

table#planning td {
    font-weight: bold;
    line-height: 1.4;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease;
}

table#planning td h3 {
    @apply text-white
}

table#planning tbody th {
    @apply transform -translate-y-1/2 py-2 pr-2
}

table#planning tr:nth-child(2n) th {
    @apply text-gray-500
}