@tailwind base;
@tailwind components;
@tailwind utilities;

nav .active {
    @apply bg-gray-900 text-white !important
}

nav #mobile-menu {
    @apply fixed z-10 w-full bg-gray-800 rounded-b duration-300 -left-full
}

nav #mobile-menu.open {
    left: 0 !important;
}

#search {
    background: url("/img/search.svg") 12px center no-repeat;
    background-size: 17px;
    padding-inline-start: 38px;
}

.prose img {
    margin: auto;
}

.username {
    @apply text-blue-800 font-bold
}

#planning section header h3 {
    @apply text-center text-3xl font-semibold text-white m-5
}

.event {
    @apply flex flex-col p-3 space-y-5 rounded-xl border border-black bg-white shadow-md mb-4
}

.event span {
    @apply text-base
}

.event h4 {
    @apply text-3xl font-bold
}

.event p {
    @apply font-normal text-gray-700 m-0
}

.tooltip {
    @apply text-white font-semibold px-3 py-1 rounded-md
}

.today {
    @apply bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500
}