{{ define "main" }}
    <section>

        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 mt-11">
            <div class="flex flex-col">
                <h1 class="leading-relaxed text-6xl font-bold text-gray-900">{{ .Name }}</h1>
            </div>
        </div>

        <div class="max-w-full">
            <div class="overflow-x-scroll xl:overflow-hidden flex justify-center ">
                <table id="planning" class="border-separate mt-2">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" colspan="4">Lundi</th>
                        <th scope="col" colspan="4">Mardi</th>
                        <th scope="col" colspan="4">Mercredi</th>
                        <th scope="col" colspan="4">Jeudi</th>
                        <th scope="col" colspan="4">Vendredi</th>
                        <th scope="col" colspan="4">Samedi</th>
                        <th scope="col" colspan="4">Dimanche</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>08:00</th>
                        <td colspan="4" rowspan="2" class="bg-yellow-500"><h3>Welcome</h3></td>
                        <td colspan="4" rowspan="2" class="bg-yellow-500">Welcome</td>
                        <td colspan="4" rowspan="2" class="bg-yellow-500">Welcome</td>
                        <td colspan="4" rowspan="2" class="bg-yellow-500">Welcome</td>
                        <td colspan="4" rowspan="2" class="bg-yellow-500">Welcome</td>
                        <td colspan="4" rowspan="2" class="bg-yellow-500">Welcome</td>
                        <td colspan="4" rowspan="2" class="bg-yellow-500">Welcome</td>
                    </tr>
                    <tr>
                        <th>08:30</th>
                    </tr>
                    <tr>
                        <th>09:00</th>
                        <td colspan="4" class="bg-blue-500">Speaker One <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-blue-500">Speaker One <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-blue-500">Speaker One <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-blue-500">Speaker One <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-blue-500">Speaker One <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-blue-500">Speaker One <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-blue-500">Speaker One <span>Earth Stage</span></td>
                    </tr>
                    <tr>
                        <th>09:30</th>
                        <td colspan="4" class="bg-red-500">Speaker Two <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-red-500">Speaker Two <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-red-500">Speaker Two <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-red-500">Speaker Two <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-red-500">Speaker Two <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-red-500">Speaker Two <span>Earth Stage</span></td>
                        <td colspan="4" class="bg-red-500">Speaker Two <span>Earth Stage</span></td>
                    </tr>
                    <tr>
                        <th>10:00</th>
                        <td colspan="4" class="stage-earth">Speaker Three <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Three <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Three <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Three <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Three <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Three <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Three <span>Earth Stage</span></td>
                    </tr>
                    <tr>
                        <th>10:30</th>
                        <td colspan="4" class="stage-earth">Speaker Four <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Four <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Four <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Four <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Four <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Four <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Four <span>Earth Stage</span></td>
                    </tr>
                    <tr>
                        <th>11:00</th>
                        <td colspan="4" rowspan="5" class="stage-mercury">Speaker Five <span>Mercury Stage</span></td>
                        <td colspan="4" rowspan="5" class="stage-mercury">Speaker Five <span>Mercury Stage</span></td>
                        <td colspan="4" rowspan="5" class="stage-mercury">Speaker Five <span>Mercury Stage</span></td>
                        <td colspan="4" rowspan="5" class="stage-mercury">Speaker Five <span>Mercury Stage</span></td>
                        <td colspan="4" rowspan="5" class="stage-mercury">Speaker Five <span>Mercury Stage</span></td>
                        <td colspan="4" rowspan="5" class="stage-mercury">Speaker Five <span>Mercury Stage</span></td>
                        <td colspan="4" rowspan="5" class="stage-mercury">Speaker Five <span>Mercury Stage</span></td>
                    </tr>
                    <tr>
                        <th>11:30</th>
                    </tr>
                    <tr>
                        <th>12:00</th>
                    </tr>
                    <tr>
                        <th>12:30</th>
                    </tr>
                    <tr>
                        <th>13:00</th>
                    </tr>
                    <tr>
                        <th>13:30</th>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Eight <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Eight <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Eight <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Eight <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Eight <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Eight <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Eight <span>Earth Stage</span></td>
                    </tr>
                    <tr>
                        <th>14:00</th>
                    </tr>
                    <tr>
                        <th>14:30</th>
                        <td colspan="4" rowspan="8" class="stage-saturn">Break</td>
                        <td colspan="4" rowspan="8" class="stage-saturn">Break</td>
                        <td colspan="4" rowspan="8" class="stage-saturn">Break</td>
                        <td colspan="4" rowspan="8" class="stage-saturn">Break</td>
                        <td colspan="4" rowspan="8" class="stage-saturn">Break</td>
                        <td colspan="4" rowspan="8" class="stage-saturn">Break</td>
                        <td colspan="4" rowspan="8" class="stage-saturn">Break</td>
                    </tr>
                    <tr>
                        <th>15:00</th>
                    </tr>
                    <tr>
                        <th>15:30</th>
                    </tr>
                    <tr>
                        <th>16:00</th>
                    </tr>
                    <tr>
                        <th>16:30</th>
                    </tr>
                    <tr>
                        <th>17:00</th>
                    </tr>
                    <tr>
                        <th>17:30</th>
                    </tr>
                    <tr>
                        <th>18:00</th>
                    </tr>
                    <tr>
                        <th>18:30</th>
                        <td colspan="4" class="stage-earth">Speaker Nine <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Nine <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Nine <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Nine <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Nine <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Nine <span>Earth Stage</span></td>
                        <td colspan="4" class="stage-earth">Speaker Nine <span>Earth Stage</span></td>
                    </tr>
                    <tr>
                        <th>19:00</th>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Ten <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Ten <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Ten <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Ten <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Ten <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Ten <span>Earth Stage</span></td>
                        <td colspan="4" rowspan="2" class="stage-earth">Speaker Ten <span>Earth Stage</span></td>
                    </tr>
                    <tr>
                        <th>19:30</th>
                    </tr>
                    <tr>
                        <th>20:00</th>
                        <td colspan="4" class="stage-mars">Speaker Twelve <span>Mars Stage</span></td>
                        <td colspan="4" class="stage-mars">Speaker Twelve <span>Mars Stage</span></td>
                        <td colspan="4" class="stage-mars">Speaker Twelve <span>Mars Stage</span></td>
                        <td colspan="4" class="stage-mars">Speaker Twelve <span>Mars Stage</span></td>
                        <td colspan="4" class="stage-mars">Speaker Twelve <span>Mars Stage</span></td>
                        <td colspan="4" class="stage-mars">Speaker Twelve <span>Mars Stage</span></td>
                        <td colspan="4" class="stage-mars">Speaker Twelve <span>Mars Stage</span></td>
                    </tr>
                    <tr>
                        <th>20:30</th>
                        <td colspan="4" rowspan="2" class="stage-saturn">Drinks</td>
                        <td colspan="4" rowspan="2" class="stage-saturn">Drinks</td>
                        <td colspan="4" rowspan="2" class="stage-saturn">Drinks</td>
                        <td colspan="4" rowspan="2" class="stage-saturn">Drinks</td>
                        <td colspan="4" rowspan="2" class="stage-saturn">Drinks</td>
                        <td colspan="4" rowspan="2" class="stage-saturn">Drinks</td>
                        <td colspan="4" rowspan="2" class="stage-saturn">Drinks</td>
                    </tr>
                    <tr>
                        <th>21:00</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{{ end }}
