{{ define "main" }}
    <main class="container mx-auto p-4 px-4 py-24 bg-gray-100">
        <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-8">
            <img class="w-full" src="http://perraultarchitecture.com/data/projet/fiche/1537/large_esiee_008_web_d9461.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">L'ESIEE</div>
              <p class="text-gray-600 text-base">
                Voici une vue aérienne de l'ESIEE. Avant la construction du pic et de tout ce qu'il y a autour, et oui l'ESIEE c'est vieux (pas comme le monde mais presque).
              </p>
            </div>
            <div class="px-6 py-4">
              <span class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#vintage</span>
              <span class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#ESIEE</span>
              <span class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600">#cetaitmieuxavant</span>
            </div>
          </div>
    </main>
{{ end }}
